@import '../variables';
@import '../mixins';

.stats-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  margin-bottom: 40px;
  
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-md;
  }
}

.stats-card {
  @include card;
  padding: 30px;
  
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: $border-radius-full;
    @include flex-center;
    margin-bottom: $spacing-md;
    
    svg {
      width: 22px;
      height: 22px;
    }
    
    &--pink {
      background-color: $card-bg-pink;
      
      svg {
        color: $icon-pink;
      }
    }
    
    &--purple {
      background-color: $card-bg-purple;
      
      svg {
        color: $icon-purple;
      }
    }
    
    &--orange {
      background-color: $card-bg-orange;
      
      svg {
        color: $icon-orange;
      }
    }
    
    &--red {
      background-color: $card-bg-red;
      
      svg {
        color: $icon-red;
      }
    }
  }
  
  &__title {
    @include caption-text;
    font-size: $font-size-sm;
    margin-bottom: $spacing-sm;
  }
  
  &__value {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $secondary;
  }
}
