@import '../variables';
@import '../mixins';

.dashboard-layout {
  min-height: 100vh;
  background-color: $background-light;
  
  &__content {
    margin-left: $sidebar-width;
    margin-top: $header-height;
    padding: 60px;
    min-height: calc(100vh - #{$header-height});
    
    @include tablet {
      padding: 40px 30px;
    }
    
    @include mobile {
      margin-left: 0;
      padding: 24px 16px;
    }
  }
}
